[DEFAULT]
ConnectionType=initiator
ReconnectInterval=30
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
SocketUseSSL=N
SocketNodelay=Y

UseDataDictionary=Y
DataDictionary=/app/fix/FIX44.xml

# ЗАКОММЕНТИРОВАТЬ или УДАЛИТЬ эти строки:
# ResetOnLogon=Y
# ResetOnLogout=Y
# ResetOnDisconnect=Y

[SESSION]
BeginString=FIX.4.4
SenderCompID=SIRIUS_500007460_MD
TargetCompID=NTPRO_IDBA_UAT
SocketConnectHost=dsp-east-uat.ntprog.com
SocketConnectPort=24421
HeartBtInt=30

ScreenLogShowIncoming=Y
ScreenLogShowOutgoing=Y
ScreenLogShowEvents=Y
ScreenLogShowHeartBeats=Y
FileLogPath=log
FileStorePath=store